<h1>Add a new Contact</h1>
<form id="new-contact" action="/contact_created" method="post">
  <label for="new-name">Name: </label>
  <input id="new-name" type="text" name="new-name" required> <br>
  <label for="new-phone-number">Phone Number: </label>
  <input id="new-phone-number" type="text" name="new-phone-number" value=""> <br>
  <label for="newaddress">Address: </label>
  <input id="newaddress" type="text" name="newaddress" value=""> <br>
  <button type="submit" name="button">Add Contact</button>
</form>
<br>
<p>Take me back to <a href="/contacts">view all contacts</a> without creating a new contact.</p>
