<h1>You created a new contact</h1>
<h2>Name</h2>
<p>@Model.GetName()</p>
<h3>PhoneNumber</h3>
<p>@Model.GetPhoneNumber()</p>
<h3>Address</h3>
<p>@Model.GetAddress()</p>
<a href="/contacts/new">Add Another Contact</a>
<a href="/contacts">View All Contacts</a>
<a href="/contacts/edit/@Model.GetId()">Edit</a>
